html, body
{
	height: 100%;
}
html
{
	display: table;
	margin: auto;
}
body
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: black;
	color: white;
}
footer
{
	margin-top: 100px;
}
table
{
	margin: auto;
	font-size: 25px;
}
th, td
{
	padding-right: 10px;
}
small
{
	font-size: 15px;
}
header
{
	margin-bottom: 100px;
}
h1
{
	font-size: 60px;
}
h2
{
	font-size: 30px;
}

a
{
  text-decoration: none;
  color:white;
}