<html>
<head>

</head>
<body>
	<header>
		<h1>{{ @league }}</h1>
		<h2>{{ @competition }}</h2>
	</header>

	<table>
		<thead>
			<th>Coach</th>
		</thead>
		<repeat group="{{ @coaches }}" value="{{ @coache }}">
			<tr>
				<td><a href="/bb2/coach/{{ @coache->coachname }}">{{ @coache->coachname }}</a></td>
			</tr>
		</repeat>
	</table>

	<footer>
		<small>Data updated at {{ @lastUpdate}}, taken from  <a href="http://www.mordrek.com/goblinSpy">GoblinSpy</a></small></p>
	</footer>

</body>
</html>
