<html>
<head>

</head>
<body>
	<header>
		<h1>{{ @league }}</h1>
		<h2>{{ @competition }}</h2>
	</header>



	<footer>
		<small>Data updated at {{ @lastUpdate}}, taken from  <a href="http://www.mordrek.com/goblinSpy">GoblinSpy</a></small></p>
	</footer>

</body>
</html>
