<html>
<head>

</head>
<body>
	<header>
		<h2>{{ @competition }} (round {{@activeRound}})</h2>
	</header>
	<section>
		<include href="{{ @f3['VIEW'].'bb2/parts/scoretable.html' }}" />
	</section>

	<section>
		<h2>Last 5 matches</h2>
		<include href="{{ @f3['VIEW'].'bb2/parts/matchesoverview.html' }}" />
		<small><a href="./bb2/match/">See all matches</a></small>

	</section>

	<footer>
		<small>Data updated at {{ @lastUpdate}}, taken from  <a href="http://www.mordrek.com/goblinSpy">GoblinSpy</a></small></p>
	</footer>

</body>
</html>
