<html>
<head>
	<link href="{{@BASE . '/css/bb2stream.css' }}" rel="stylesheet">
</head>
<body>
	<header>
		<h1>{{ @competition }}</h1>
		<h2>{{ @league }}</h2>
	</header>

	<include href="{{ @f3['VIEW'].'bb2/parts/scoretable.html' }}" />
	<center>
		<small>Score as of round {{ @activeRound }}<small>
		</center>
		<footer>
			<small>Data updated at {{ @lastUpdate}}, taken from  http://www.mordrek.com/goblinSpy</p>
			</footer>

		</body>
		</html>
