<html>
<head>

</head>
<body>
	<header>
		<h1>{{ @league }}</h1>
	</header>

	<h2>Teamdata</h2>
	<table>
		<tr>
			<td>Team:</td>
			<td><a href="{{ @f3['BASE'].'/bb2/team/'.@team->safeName }}"> {{@team->teamname}}</a></td>
		</tr>
		<tr>
			<td>Competiton:</td>
			<td><a href="{{ @f3['BASE'].'/bb2/' }}"> {{ @competition }}</a></td>
		</tr>
		<tr>
			<td>Race:</td>
			<td>{{@team->race}}</a></td>
		</tr>
		<tr>
			<td>Coach:</td>
			<td><a href="{{ @f3['BASE'].'/bb2/coach/'.helper::SafeUrlString(@team->coachname) }}"> {{@team->coachname}}</a></td>
		</tr>
		<tr>
			<td>Score:</td>
			<td>{{ @team->points }}</td>
		</tr>
		<tr>
			<td>W/D/L:</td>
			<td>{{ @team->wins }}/{{ @team->draws }}/{{ @team->losses }}</td>
		</tr>
		<tr>
			<td>Touchdowns:</td>
			<td>{{ @team->td }}({{ @team->tddiff }})</td>
		</tr>
		<tr>
			<td>W/D/L:</td>
			<td>{{ @team->wins }}/{{ @team->draws }}/{{ @team->losses }}</td>
		</tr>
	</table>

	<h2>Matches</h2>
	<include href="{{ @f3['VIEW'].'bb2/parts/matchesoverview.html' }}" />


	<footer>
		<small>Data updated at {{ @lastUpdate}}, taken from  <a href="http://www.mordrek.com/goblinSpy">GoblinSpy</a></small></p>
	</footer>

</body>
</html>
