<!DOCTYPE html>

<html>

<head>
	<title>Spela Roll - {{ @currentRoute }}</title>
	<link href="{{@BASE . '/css/shared.css' }}" rel="stylesheet">

	<check if="{{ @IP == '127.0.0.1' }}">
		<script src="http://127.0.0.1:35729/livereload.js"></script>
	</check>

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="google" content="notranslate" />
</head>

<body>
