<table>
	<repeat group="{{ @matches }}" value="{{ @match }}">
		<tr>
			<td><a href="{{ @f3['BASE']}}/bb2/match/{{ @match->id }}">{{ @match->scorehome }} - {{ @match->scoreaway }}</a></td>
			<td><a href="{{ @f3['BASE']}}/bb2/team/{{ helper::SafeUrlString(@match->teamhome) }}">{{ @match->teamhome }}</a></td>
			<td>-</td>
			<td><a href="{{ @f3['BASE']}}/bb2/team/{{ helper::SafeUrlString(@match->teamaway) }}">{{ @match->teamaway }}</a></td>
		<tr>
	</repeat>
</table>
