<table>
	<thead>
		<th>Coach</th>
		<th>Teamname</th>
		<th>Race</th>
		<th>Score</th>
		<th>W/D/L</th>
		<th>#</th>
	</thead>
	<repeat group="{{ @teams }}" value="{{ @team }}">
		<tr>
			<td><a href="{{ @f3['BASE'].'/bb2/coach/'.helper::SafeUrlString(@team->coachname) }}">{{ @team->coachname }}</a></td>
			<td><a href="{{ @f3['BASE'].'/bb2/team/'.@team->safeName }}">{{ @team->teamname }}</a></td>
			<td>{{ @team->race }}</td>
			<td>{{ @team->points }}</td>
			<td>{{ @team->wins }}/{{ @team->draws }}/{{ @team->losses }}</td>
			<td>{{ @team->numbMatches }}</td>

			<!-- <check if="{{ @team->PlayedInRound(@activeRound) }}">
				<true>
					<td><li></li></td>
				</true>
			</check>  -->
		</tr>
	</repeat>
	</table>
